<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="header">GRAFIK</li>

    <li><a href=""><i class="fa fa-male"></i> <span>Instruktorzy</span></a></li>

    <li class="header">TREŚĆ STRONY</li>
    <li><a href=""><i class="fa fa-book"></i> <span>Wpisy na bloga</span></a></li>



      <li>
  			<a href="#" class="expand-tree-view">
  				<i class='fa fa-tags'></i>
  				<span>Kategorie</span>
  				<i class="fa fa-angle-left pull-right"></i>
  			</a>
  			<ul class="treeview-menu">
  				<li> <a href="">Kategorie wydarzeń</a> </li>
  				<li> <a href="">Kategorie aktualności</a> </li>
  			</ul>
  		</li>


    <li><a href=""><i class="fa fa-sign-out "></i> <span>Wyloguj</span></a></li>

  </ul>
</section>
