# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    app.repository.group:
        class: Doctrine\ORM\EntityRepository
        factory: ['@doctrine.orm.default_entity_manager', getRepository]
        arguments:
            - AppBundle\Entity\Group

    app.repository.presence:
        class: Doctrine\ORM\EntityRepository
        factory: ['@doctrine.orm.default_entity_manager', getRepository]
        arguments:
            - AppBundle\Entity\Presence

    app.repository.role:
        class: Doctrine\ORM\EntityRepository
        factory: ['@doctrine.orm.default_entity_manager', getRepository]
        arguments:
            - AppBundle\Entity\Role

    app.repository.user:
        class: Doctrine\ORM\EntityRepository
        factory: ['@doctrine.orm.default_entity_manager', getRepository]
        arguments:
            - AppBundle\Entity\User

    app.repository.year:
        class: Doctrine\ORM\EntityRepository
        factory: ['@doctrine.orm.default_entity_manager', getRepository]
        arguments:
            - AppBundle\Entity\Year



    app.email.domain.validator:
        class: AppBundle\Validator\Constraints\EmailDomainValidator
        arguments: ['%allowed_domains%']

    app.user_provider:
        class: AppBundle\Security\User\UserProvider
        arguments: ["@doctrine.orm.entity_manager"]

    app.admin_authenticator:
       class: AppBundle\Security\AdminAuthenticator
       arguments: ["@security.password_encoder", "@app.repository.user"]

    app.user_authenticator:
       class: AppBundle\Security\UserAuthenticator
       arguments: ["@security.password_encoder", "@app.repository.user"]
